body{
    background-image: url(https://miro.medium.com/max/4118/1*uQdZlvHn4rb4boX0_VBIVw.jpeg);
    background-size: 1600px;
        
}
h1{
    color:blue;
    text-align: center;
    font-family: 'ClaybornRegular';
    font-weight: bold;
    font-style: normal;
}
p{
    color: #e3dcca;
    margin: 0px 100px 0px 150px;
    border: 10px ridge peachpuff ;
    padding:0px,50px,0px,550px;
    
}
.carousel-control-prev{
    background-color: #d6d9bf;
}
.carousel-control-next{
    background-color: #d6d9bf;

}